@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CHICHU Network!</h1>

</div>
<br />
<br />
<br />
<div>
    <h3>This website is under construction</h3>
    <ul>
        <li><a href="https://chichu.cc/Video1">GNS Project 1</a></li>
        <li>...</li>
    </ul>
</div>
